<h1>チャットルーム一覧</h1>
<table class="chat_room">
  <tbody>
    <tr>
      <td>
        <% @chats_partners.each do |chat_partner| %>
         <%= link_to "#{chat_partner.email}さんとのトークルーム", "/chats/#{chat_partner.id}" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

